.addCourierCompanyMainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.mainColumnAddCourierService {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  padding: 50px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.googleMapCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.googleMapRow {
  padding-left: 20px !important;
}
